services:
  - type: worker
    name: backend-stream
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python backend_stream_server.py   # ✅ No uvicorn, no port


  # ✅ FRONTEND IS THE WEB SERVICE
  - type: web
    name: stock-dashboard
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: streamlit run stock_dashboard_phase1.py --server.address=0.0.0.0 --server.port=$PORT --server.headless=true






