services:
  - type: web
    name: backend-stream
    env: python
    buildCommand: ""
    startCommand: uvicorn backend_stream_server:app --host 0.0.0.0 --port $PORT
    plan: standard

  - type: web
    name: frontend-streamlit
    env: python
    buildCommand: ""
    startCommand: streamlit run stock_dashboard_phase1.py
    plan: standard


