streamlit==1.35.0
streamlit-autorefresh==1.0.1
python-dotenv==1.0.1
requests==2.31.0
schedule==1.2.1
yfinance==0.2.40
pandas==2.2.1          # Downgrade to avoid Python 3.13 issues
numpy==1.26.4
cython==3.0.10
websocket-client==1.8.0
cryptography==42.0.7
pyotp==2.9.0
pyDes==2.0.1
ta==0.11.0
plotly==5.22.0
watchdog==4.0.0
setuptools==68.0.0




